In [1]:
# within python how do I check for the python verison being used
import sys
print("python version:", sys.version, '\n')

python version: 3.7.4 (default, Aug 13 2019, 15:17:50)
[Clang 4.0.1 (tags/RELEASE_401/final)]

In [2]:
# checking "normal" data types, (basic, primitive?)
print("Integer (int): ", type(1))
print("Float (float): ", type(1.5))
print("String (str): ", type("test"))
print("Boolean (bool): ", type(True))

Integer (int):  <class 'int'>
Float (float):  <class 'float'>
String (str):  <class 'str'>
Boolean (bool):  <class 'bool'>

In [3]:
type(type(1))

type

In [4]:
example_tuple = (1, 2, 'bob', 19, 'eleventeen', 37)
print(example_tuple)

(1, 2, 'bob', 19, 'eleventeen', 37)

In [5]:
example_tuple[0]
example_tuple[1]

2

In [6]:
example_tuple[-2]

'eleventeen'

In [7]:
example_tuple[-2:
             ]

('eleventeen', 37)

In [8]:
example_tuple[1] = 'two'

TypeError: 'tuple' object does not support item assignment

In [9]:
second_tuple = (True, {'one':1, 'two':2})

In [10]:
second_tuple

(True, {'one': 1, 'two': 2})

In [11]:
second_tuple[0] = 1

TypeError: 'tuple' object does not support item assignment

In [12]:
second_tuple[1]['one'] = 'ONE'

In [13]:
second_tuple

(True, {'one': 'ONE', 'two': 2})

In [14]:
# lesson learned: tuples are good when protecting shallow values,
# however dicts and lists can be modified.
# Do not rely on tuple for immutability

In [15]:
tuple

tuple

In [16]:
int

int

In [17]:
example_list = [1, 2, 3, 4, 5, 6, 7, 8,]

In [18]:
print(example_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
example_list[0]= 'some else'
print(example_list)

['some else', 2, 3, 4, 5, 6, 7, 8]

In [20]:
new_tuple = tuple(example_list)
print(new_tuple)

('some else', 2, 3, 4, 5, 6, 7, 8)

In [21]:
print(type(new_tuple))

<class 'tuple'>

In [24]:
type(new_tuple) == tuple

True

In [23]:
!pwd

/Users/greg/Documents/metis/dsp

In [25]:
new_list = list(example_tuple)
print(new_list)
print(type(new_list))

[1, 2, 'bob', 19, 'eleventeen', 37]
<class 'list'>

In [26]:
test = ({'one': 1})

In [27]:
new_test = list(test)
set_from_list = set(new_test)
print('test tuple', test)
print('test list', new_test)
print('test set', set_from_list)

test tuple {'one': 1}
test list ['one']
test set {'one'}

In [28]:
# lesson learned, you cannot have dicts instantiated by the class list
# because it's a single element? that doesn't make sense

In [29]:
new_test

['one']

In [30]:
list_a = [1, 2, 3]

In [31]:
set_a = set(list_a)

In [32]:
print(set_a)

{1, 2, 3}

In [33]:
set_a.remove(4)

KeyError: 4

In [36]:
set_b = {1, 1, 4}
set_c = set_a.union(set_b)

In [37]:
set_c == {1, 2, 3, 4}

True

In [39]:
# Example with some baseball stats!
# Let's assume a format like [Team, Games, Plate Apperance, Home Runs]
career_stats = {'babe_ruth': {1914: ["Red Sox", 5, 10, 0], 1915:['Red Sox', 43, 104, 4]},
                'gavvy_cravath': {1914: ['Phillies',149,604,14]}} # Yes, that's a real baseball player's name
print(career_stats['babe_ruth'])
print(career_stats['babe_ruth'][1914])

# interesting to note can use tuples as dict keys


# New entry using a tuple
career_stats[('a','new','player')] = ['Reds',12, 34, 8]

for key, val in career_stats.items(): #items allows us to access each key-value pair
    print('values: ', key, val,'\n')

{1914: ['Red Sox', 5, 10, 0], 1915: ['Red Sox', 43, 104, 4]}
['Red Sox', 5, 10, 0]
values:  babe_ruth {1914: ['Red Sox', 5, 10, 0], 1915: ['Red Sox', 43, 104, 4]}

values:  gavvy_cravath {1914: ['Phillies', 149, 604, 14]}

values:  ('a', 'new', 'player') ['Reds', 12, 34, 8]

In [40]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [41]:
def exercise_tester():
    """
    This function will test your anagram_checker function
    by putting in some values and making sure you get the
    correct answer!
    
    If you've written your code well, you should see 
    "you passed all tests!" as your output of this cell.
    """
    
    assert anagram_checker('cat','tac') == True, "Failed on First Test!"
    assert anagram_checker('taCo','taco') == False, "Failed on Second Test!"
    assert anagram_checker('realm','realm ') == False, "Failed on Third Test!"
    assert anagram_checker('rail safety','fairy tales') == True, "Failed on Fourth Test!"
    assert anagram_checker('steve','bob') == False, "Failed on Fifth Test!"
    return "You passed all tests!"

In [44]:
def anagram_checker(strA, strB):
    """
    This function takes two strings and will return True if
    strA is an anagram of strB
    """
    return sorted(strA) == sorted(strB)

In [45]:
exercise_tester()

'You passed all tests!'

In [46]:
# learned can do equality check with == for arrays

In [50]:
# there is some kind of destructuring for tuples and dicts
# with .items()
for key, val in {'a': 1, 'b': 2}.items():
    print('key val with dict.items()', key, val)
    
# with .items() but no val variable (no destructuring)
# this behavior feels...a little unexpected,
# i thought it would be just the key.
for key in {'a': 1}.items():
    print('key dict.items()', key, type(key))
    
# dict without .items()   
for key in {'a': 1}:
    print(key, type(key))

key val with dict.items() a 1
key val with dict.items() b 2
key dict.items() ('a', 1) <class 'tuple'>
a <class 'str'>

In [51]:
#list of tuples
for a, b, c in [('1', '2', '3'), ('4', '5', '6')]:
    print('correct number of elements', a, b, c)

correct number of elements 1 2 3
correct number of elements 4 5 6

In [52]:
#list of tuples incorrect number of elements
for a, b, c in [('1', '2', '3'), ('4', '5')]:
    print('correct number of elements', a, b, c)

correct number of elements 1 2 3

ValueError: not enough values to unpack (expected 3, got 2)

In [53]:
#list of list
for a, b in [[0, 1], [2, 3]]:
    print('correct elements', a, b)

correct elements 0 1
correct elements 2 3

In [54]:
#list of list not the same type
for a, b, in [[0,1], 'ab']:
    print('not same type', a, b)

incorrect elements 0 1
incorrect elements a b

In [55]:
#list of list same type but incorrect length
#lesson: err too many values to unapck in second element 'abc'
for a, b, in ['ab', 'abc']:
    print('more than enough', a, b)

more than enough a b

ValueError: too many values to unpack (expected 2)

In [56]:
#list of list same type but incorrect length
#lesson: err not enough values to unapck
for a, b, in ['ab', 'a']:
    print('more than enough', a, b)

more than enough a b

ValueError: not enough values to unpack (expected 2, got 1)

In [58]:
def my_func():
    """
    some doc string for my_func
    """
my_func.__doc__

'\n    some doc string for my_func\n    '

In [60]:
my_func()

In [61]:
# check for truth in python
test_value = 0

if test_value:
    print("In the loop")

In [62]:

test_value = 1

if test_value:
    print("In the loop")

In the loop

In [63]:
# what is a Truthy in python
def evaluate_as_bool(value):
    """
    Asks python what the boolean representation
    is for the provided value
    """
    print("{} as bool: ".format(value), bool(value))


evaluate_as_bool(1)
evaluate_as_bool(0)
evaluate_as_bool(0.00001)
evaluate_as_bool(-50000)

1 as bool:  True
0 as bool:  False
1e-05 as bool:  True
-50000 as bool:  True

In [64]:
# learned empty objects () [] {} are treated like false.
# so we don't need to do if (len(someArray) > 0)
evaluate_as_bool([])
evaluate_as_bool(["test"])
evaluate_as_bool(["test", 2, 5])
evaluate_as_bool(("test", 2, 5))
evaluate_as_bool(())
evaluate_as_bool({})
evaluate_as_bool({'test'})

[] as bool:  False
['test'] as bool:  True
['test', 2, 5] as bool:  True
('test', 2, 5) as bool:  True
() as bool:  False
{} as bool:  False
{'test'} as bool:  True

In [65]:
not []

True

In [66]:
evaluate_as_bool('False')
evaluate_as_bool('')
evaluate_as_bool(' ') # There's a space here!

False as bool:  True
 as bool:  False
  as bool:  True

In [67]:
# using in for checking existence
test_list = [1,2,3,4,5]

if 1 in test_list:
    print("Found a '1'")
if 6 in test_list:
    print("Found an '6'")

Found a '1'

In [69]:
for row in [[1, 2], [3, 4]]:
    print(row)

[1, 2]
[3, 4]

In [2]:
[2 * x for x in range(5)]

[0, 2, 4, 6, 8]

In [4]:
#sorting
alumni = [('bob',32,72000),
          ('alice',29,115000),
          ('charlie',25,95000)]

print(sorted(alumni, key=lambda row: row[2]))

[('bob', 32, 72000), ('charlie', 25, 95000), ('alice', 29, 115000)]

In [5]:
!ls

img	 Prework_1b_jupyter_notebook.ipynb  README.md
lessons  Prework_5a_python_basic.ipynb	    resources

In [13]:
# Basic python assessment's debuggin wasn't great,
# I copy and pasted the question here to see what the intermediary outputs were

#!/bin/python3

import sys
import os
import csv

text = '''Team,Games,Wins,Losses,Draws,Goals,Goals Allowed,Points
Arsenal,38,26,9,3,79,36,87
Liverpool,38,24,8,6,67,30,80
Manchester United,38,24,5,9,87,45,77
Newcastle,38,21,8,9,74,52,71
Leeds,38,18,12,8,53,37,66
Chelsea,38,17,13,8,66,38,64
West_Ham,38,15,8,15,48,57,53
Aston_Villa,38,12,14,12,46,47,50
Tottenham,38,14,8,16,49,53,50
Blackburn,38,12,10,16,55,51,46
Southampton,38,12,9,17,46,54,45
Middlesbrough,38,12,9,17,35,47,45
Fulham,38,10,14,14,36,44,44
Charlton,38,10,14,14,38,49,44
Everton,38,11,10,17,45,57,43
Bolton,38,9,13,16,44,62,40
Sunderland,38,10,10,18,29,51,40
Ipswich,38,9,9,20,41,64,36
Derby,38,8,6,24,33,63,30
Leicester,38,5,13,20,30,64,28'''

with open('football.csv', 'w') as f:
    f.write(text)

# The football.csv file contains the results from the English Premier League.
# The columns labeled ‘Goals’ and ‘Goals Allowed’ contain the total number of
# goals scored for and against each team in that season (so Arsenal scored 79 goals
# against opponents, and had 36 goals scored against them). Write a program to read the file,
# then print the name of the team with the smallest difference in ‘for’ and ‘against’ goals.

# Don't use pandas.

# Following functions will be called like this:
#   footballTable = read_data('football.csv')
#   minRow = get_index_with_min_abs_score_difference(footballTable)
#   print str(get_team(minRow, footballTable))

import math

TABLE_COL_GOALS = 'Goals'
TABLE_COL_GOALS_ALLOWED = 'Goals Allowed'
TABLE_COL_TEAM = 'Team'

TABLE_COL_GOALS_INDEX = None
TABLE_COL_GOALS_ALLOWED_INDEX = None
TABLE_COL_TEAM_INDEX = None

def read_data(filename):
    """Returns a list of lists representing the rows of the csv file data.

    Arguments: filename is the name of a csv file (as a string)
    Returns: list of lists of strings, where every line is split into a list of values. 
        ex: ['Arsenal', 38, 26, 9, 3, 79, 36, 87]
    """
    global TABLE_COL_GOALS_INDEX
    global TABLE_COL_GOALS
    global TABLE_COL_GOALS_ALLOWED_INDEX
    global TABLE_COL_GOALS_ALLOWED
    global TABLE_COL_TEAM_INDEX
    global TABLE_COL_TEAM     
    rows = []
    is_header = True
    
    with open(filename) as fp:

        lines = fp.readlines()
        
        for line in lines:
            split_line = [item.strip() for item in line.split(',')]

            if not is_header:
                rows.append(split_line)
            else:
                
                TABLE_COL_GOALS_INDEX = split_line.index(TABLE_COL_GOALS)
                TABLE_COL_GOALS_ALLOWED_INDEX = split_line.index(TABLE_COL_GOALS_ALLOWED)
                TABLE_COL_TEAM_INDEX = split_line.index(TABLE_COL_TEAM)

                is_header = False
        
    return rows

def get_index_with_min_abs_score_difference(goals):
    """Returns the index of the team with the smallest difference
    between 'for' and 'against' goals, in terms of absolute value.

    Arguments: parsed_data is a list of lists of cleaned strings
    Returns: integer row index
    """
    global TABLE_COL_GOALS_INDEX
    global TABLE_COL_GOALS
    global TABLE_COL_GOALS_ALLOWED_INDEX
    global TABLE_COL_GOALS_ALLOWED
    global TABLE_COL_TEAM_INDEX
    global TABLE_COL_TEAM    

    smallest_diff_index = None
    smallest_diff = math.inf

    
    for index, row in enumerate(goals):
        abs_diff = abs(int(row[TABLE_COL_GOALS_INDEX]) - int(row[TABLE_COL_GOALS_ALLOWED_INDEX]))
        if abs_diff < smallest_diff:
            smallest_diff = abs_diff
            smallest_diff_index = index

    return smallest_diff_index



    
    
def get_team(index_value, parsed_data):
    """Returns the team name at a given index.
    
    Arguments: index_value is an integer row index
               parsed_data is the output of `read_data` above
               
    Returns: the team name
    """
    global TABLE_COL_TEAM_INDEX

    return parsed_data[index_value][TABLE_COL_TEAM_INDEX]

footballTable = read_data('football.csv')
minRow = get_index_with_min_abs_score_difference(footballTable)
print(str(get_team(minRow, footballTable)))

what is goals [['Arsenal', '38', '26', '9', '3', '79', '36', '87'], ['Liverpool', '38', '24', '8', '6', '67', '30', '80'], ['Manchester United', '38', '24', '5', '9', '87', '45', '77'], ['Newcastle', '38', '21', '8', '9', '74', '52', '71'], ['Leeds', '38', '18', '12', '8', '53', '37', '66'], ['Chelsea', '38', '17', '13', '8', '66', '38', '64'], ['West_Ham', '38', '15', '8', '15', '48', '57', '53'], ['Aston_Villa', '38', '12', '14', '12', '46', '47', '50'], ['Tottenham', '38', '14', '8', '16', '49', '53', '50'], ['Blackburn', '38', '12', '10', '16', '55', '51', '46'], ['Southampton', '38', '12', '9', '17', '46', '54', '45'], ['Middlesbrough', '38', '12', '9', '17', '35', '47', '45'], ['Fulham', '38', '10', '14', '14', '36', '44', '44'], ['Charlton', '38', '10', '14', '14', '38', '49', '44'], ['Everton', '38', '11', '10', '17', '45', '57', '43'], ['Bolton', '38', '9', '13', '16', '44', '62', '40'], ['Sunderland', '38', '10', '10', '18', '29', '51', '40'], ['Ipswich', '38', '9', '9', '20', '41', '64', '36'], ['Derby', '38', '8', '6', '24', '33', '63', '30'], ['Leicester', '38', '5', '13', '20', '30', '64', '28']]
what is INDEX 5 6
what is value ['Chelsea', '38', '17', '13', '8', '66', '38', '64'] ['Chelsea', '38', '17', '13', '8', '66', '38', '64']
Aston_Villa

In [18]:
# understanding the underscore func
def sum(*args):
    total = 0
    for arg in args:
        total += arg
    return total

def call_sum():
    return sum(*[1, 2, 3])

def return_fn(callback):
    return callback

In [19]:
_ = return_fn(call_sum)

In [20]:
_

In [21]:
_()

6