In [15]:
"""

Generators tutorial 
https://www.dataquest.io/blog/python-generators-tutorial/


"""

import sys
import pandas as pd
import numpy as np

In [ ]:
"""
"""

In [ ]:
def numbers():
    count = 0
    while True:
        yield count
        print('count: ', count)
        count += 1

In [ ]:
gen = numbers()

In [ ]:
next(gen)

In [ ]:
rand_array = [x**2 for x in range(10)]

In [ ]:
rand_array

In [ ]:
rand_array_gen = (x**2 for x in range(10))

In [ ]:
type(rand_array_gen)

In [ ]:
next(rand_array_gen)

In [ ]:
for x in rand_array_gen:
    print(x)

In [ ]:
for x in rand_array_gen:
    print(x)

In [ ]:
name = ('a', 'b', 'c')
val = (1, 2, 3)
optional = [True, False, None]

In [ ]:
zipped = zip(name, val,  optional)
print(type(zipped), zipped)

In [ ]:
print('dict: ', dict(zipped))
print('set: ', set(zipped))
print('tuple', tuple(zipped))

In [ ]:
print(dict(zip(name, complex)))

complex = [{me: 1}, {me: 2}, {me: 3}]

complex

In [ ]:
type(complex)

dict_a = [{'a': 1},{'b': 2}]

In [ ]:
print(complex)

In [ ]:
a_dict = [{'a': 1}, {'b': 2}, {'c': 3}]

In [ ]:
type(a_dict)

In [ ]:
b_dict = list(zip(name, a_dict))

In [ ]:
a, b, c = zip(*b_dict)

In [ ]:
b_dict

In [ ]:
print(a, b, c)

In [ ]:
(a, b) = zip(*b_dict)

In [ ]:
print(a)
print(b)

In [ ]:
# learn zipping takes the n index of each value and ties it together.
# UNzipping with a asterisk *

In [ ]:
json_test = {'a': 1, 'b': {'c': 2}}

In [ ]:
json

In [ ]:
import json

In [ ]:
json

In [ ]:
json_string = json.dumps(json_test)

In [ ]:
json.loads(json_string)

In [ ]:
jprint

In [ ]:
import jprint

In [ ]:
[] == True

In [ ]:
[1] == True

In [ ]:
[1] is True

In [ ]:
1 == True

In [ ]:
if [1] == True:
    print('h')
    
if [1]:
    print('do not compare to true unles the value has to be a boolean')

In [ ]:
words = {'name': 'greg', 'age': 20, 'height': 6}

In [ ]:
'{name} is {age} old, with a height of {height} and {not_exist}'.format(**words)

In [ ]:
def just_print(*args):
    print(args)

In [ ]:
just_print(1, 2, 3)

In [ ]:
' abc  '.strip()

In [ ]:

'hello'.split(' ')

In [ ]:
'hello'.upper()

In [ ]:
test = ['a', 'b', 'c']
','.join(test)

In [ ]:
from collections import defaultdict

In [ ]:
empty_dict = defaultdict(list)

In [ ]:
empty_dict

In [ ]:
empty_dict['something'].append(['what'])

In [ ]:
empty_dict

In [ ]:
dict(['a', 'b'])

In [ ]:
if 0:
    print('hello')

In [2]:
def something():
    """
    some definition
    """
    pass

In [3]:
something

In [4]:
something?

In [7]:
adf = pd.read_csv('./Automobile_data.csv')

In [8]:
adf

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...,...
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [9]:
df = pd.DataFrame?

In [ ]:
df = pd.DataFrame

In [11]:
data = {
    'user': [1, 1, 2, 2, 2, 3, 3, 4],
    'item': ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'],
    'price': [25, 50, 90, 30, 60, 40, 40, pd.np.nan],
}

In [12]:
df = pd.DataFrame(data, columns={'user': 'User', 'item': 'Item', 'price': 'Price'})

In [13]:
df

   user item  price
0     1    a   25.0
1     1    b   50.0
2     2    c   90.0
3     2    d   30.0
4     2    e   60.0
5     3    f   40.0
6     3    g   40.0
7     4    h    NaN

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
user     8 non-null int64
item     8 non-null object
price    7 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 320.0+ bytes

In [18]:
np.random.randn(5, 2, 3)

array([[[ 2.57307706, -2.20755548, -0.98233893],
        [-0.2269914 ,  0.80896341, -2.64506914]],

       [[ 0.41372634, -1.85230021,  0.46363343],
        [ 1.70272086,  0.0238539 , -1.64118599]],

       [[ 0.9726836 ,  0.43209827,  0.59641788],
        [ 1.11665839, -0.44218555, -0.33393778]],

       [[ 0.23958168, -0.0332512 , -0.23727842],
        [ 2.28421712,  0.753508  , -0.63024101]],

       [[ 1.18568206,  0.34195755,  2.01408328],
        [-1.56430784,  1.0566257 , -0.53407836]]])

In [19]:
df.index

RangeIndex(start=0, stop=8, step=1)

In [20]:
df.columns

Index(['user', 'item', 'price'], dtype='object')

In [21]:
df.describe()

           user      price
count  8.000000   7.000000
mean   2.250000  47.857143
std    1.035098  21.957752
min    1.000000  25.000000
25%    1.750000  35.000000
50%    2.000000  40.000000
75%    3.000000  55.000000
max    4.000000  90.000000

In [22]:
df

   user item  price
0     1    a   25.0
1     1    b   50.0
2     2    c   90.0
3     2    d   30.0
4     2    e   60.0
5     3    f   40.0
6     3    g   40.0
7     4    h    NaN

In [24]:
df['price'].idxmax()

2

In [29]:
df.groupby(['user'])

In [30]:
dfn = df.dropna()

In [31]:
dfn

   user item  price
0     1    a   25.0
1     1    b   50.0
2     2    c   90.0
3     2    d   30.0
4     2    e   60.0
5     3    f   40.0
6     3    g   40.0

In [36]:
dfn.apply('mean', axis=1)

0    13.0
1    25.5
2    46.0
3    16.0
4    31.0
5    21.5
6    21.5
dtype: float64

In [33]:
dfn.price.apply('mean')

47.857142857142854

In [42]:
dfn.groupby(['user'])['price'].mean()

user
1    37.5
2    60.0
3    40.0
Name: price, dtype: float64

In [43]:
dfn.groupby(['item']).apply(np.mean)

      user  price
item
a      1.0   25.0
b      1.0   50.0
c      2.0   90.0
d      2.0   30.0
e      2.0   60.0
f      3.0   40.0
g      3.0   40.0

In [46]:
dfn['price'].agg(['sum', 'count', 'mean'])

sum      335.000000
count      7.000000
mean      47.857143
Name: price, dtype: float64

SyntaxError: invalid syntax (<ipython-input-52-d31e66aacaeb>, line 1)